<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Iterations" value="200" />
    <add key="IntervalInSeconds" value="1" />
    <add key="UseThreads" value="false" />
    <add key="ConfigPath" value="Resources" />
    <add key="ConfigFilePattern" value="Mail2Icm*.xml" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="IcmClientBehavior">
          <clientCredentials>
            <clientCertificate findValue="8d565a480bdb7ba78933c009cd13a2b0e5c55cf3" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <binding name="IcmBindingConfigCert" maxReceivedMessageSize="16777216" maxBufferPoolSize="4194304">
          <readerQuotas maxArrayLength="16384" maxStringContentLength="1048576" maxBytesPerRead="1048576" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint
        address="https://icm.ad.msoppe.msft.net/Connector3/ConnectorIncidentManager.svc"
        binding="ws2007HttpBinding"
        bindingConfiguration="IcmBindingConfigCert"
        behaviorConfiguration="IcmClientBehavior"
        contract="Microsoft.AzureAd.Icm.Types.IConnectorIncidentManager"
        name="ppe">
      </endpoint>
      <endpoint
        address="https://icm.ad.msft.net/Connector3/ConnectorIncidentManager.svc"
        binding="ws2007HttpBinding"
        bindingConfiguration="IcmBindingConfigCert"
        behaviorConfiguration="IcmClientBehavior"
        contract="Microsoft.AzureAd.Icm.Types.IConnectorIncidentManager"
        name="prod">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>